@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
}

.text-primary{
    color: #FD6E0A;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > ul {
    display: flex;
    align-items: center;   
}

nav li {
    list-style-type: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
}



